:root {
  --primary: #be185d;
  --secondary: #1f2937;
}
body {
  background-color: var(--secondary);
  color: white;
}
.container-center {
  max-width: 40%;
  margin: auto;
}
.navigation {
  background-color: var(--primary);
  border-radius: 1.5rem;
  padding: 0.5rem;
  color: white;
}
.header {
  font-weight: bold;
  font-size: 2rem;
}
.nav-list {
  list-style: none;
}
.nav-list-item {
  display: inline;
  padding: 0rem 0.5rem;
}
.nav-pills {
  text-align: left;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
input,
label {
  padding: 1rem;
}
h1 {
  text-align: center;
}
label {
  text-align: center;
}
input {
  align-items: center;
}
.message {
  font-size: large;
}
button {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary);
  columns: white;
  border-radius: 0.2rem;
  border-width: 0ch;
  padding: 0.5rem;
}

.footer {
  margin-top: 7rem;
  background-color: var(--primary);
  padding: 1rem;
  text-align: center;
  color: white;
  border-radius: 1.5rem;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.footer .link {
  color: white;
  padding: 0rem 1rem;
}
.footer ul {
  padding-inline-start: 0px;
  list-style: none;
}
.footer li {
  display: inline;
}
